@import "tailwindcss";

/* Define color of the project */
@theme {
  --color-bg-left: #172030;
  --color-bg-right: #333c4d;
  --color-bg-body: #1f1f1f;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #333c4d;
}
